<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>文章列表</title>
{include file="/common/c_header"}
<link type="text/css" rel="stylesheet" href="__STATIC__/webhome/css/css_new.css" />
<style>
.pagetwo{width:710px;}
.pagetwo ul li{padding:0px;margin:0 0 0 10px;border:none;}
</style>
</head>

<body>
<div class="wrap">
{include file="/common/c_top"}

<div class="news_bg_9">
	<div class="w">
		<div class="news_left">
			<div class="news_tag">
				<ul>
				<li {php}echo $type==2?'class="on"':''{/php}>
					<a href="{:url('home/article/index','type=2')}">平台公告</a>
				</li>
				<li {php}echo $type==1?'class="on"':''{/php}>
					<a href="{:url('home/article/index','type=1')}">新闻动态</a>
				</li>
				</ul>
			</div>
			<div class="news_list_9">
				<ul>
				{volist name="list" id="val"}
				<li>
					<div class="img"><a href="{:url('home/article/detail','id='.$val['id'])}">
					<img src="{php}echo getImgURL($val['cover']);{/php}" width="156" height="115" /></a></div>
					<div class="jianjie">
					<h3><a href="{:url('home/article/detail','id='.$val['id'])}">{$val['title']}</a></h3>
					<p>发布时间：{$val['input_time']>0?date("Y-m-d",$val['input_time']):''}</p>
					<dl>
						{$val['summary']}
					</dl>
					</div>
				</li>
				{/volist}
				</ul>
				<div class="pagetwo">
					{$list->render()}
				</div>
			</div>
		</div>
		<div class="news_right">
			<div class="ad_pic">
				{php}echo $ads;{/php}
			</div>
			<div class="news_hot">
			<h3>热点新闻</h3>
				<ul>
				{volist name="xwlist" id="val"}
		        <li><a href="{:url('home/article/detail','id='.$val['id'])}">{$val['title']}</a></li>
				{/volist}
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

{include file="/common/c_footer"}
</div>

</body>
</html>
