{include file="/common/main_top"}
<script>
$(function(){
	//全选
	$('#selectAll').click(function(){
		$(".chklie").attr('checked' , true);
	});
	//全不选
	$('#uncheckAll').click(function(){
		$(".chklie").attr('checked' , false);
	});
});
</script>
<div class="allpagetop">后台管理中心<strong>/</strong>角色管理<strong>/</strong>角色授权</div>
<div class="mains">
	<div class="h1tit">
		<div class="h1">角色管理</div>
		<div class="topnav">
			<a href="{:url('/Admin/sysrose/browse')}">角色列表</a>
			<a href="{:url('/Admin/sysrose/create')}" class="select">添加</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="toptit">修改角色授权
		<span style="color:#FF3300;">({$detail['name']})</span>&nbsp;&nbsp;&nbsp;
		<span id="selectAll" style="color:#0066CC;cursor:pointer">[全选]</span>&nbsp;&nbsp;&nbsp;
		<span id="uncheckAll" style="color:#0066CC;cursor:pointer">[全不选]</span>
    </div>
	<form id="addform" method="post" action="">
	<?php if(is_array($powerarr)){?>
	<?php foreach($powerarr as $key=>$val){?>
	<table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF" class="pl_20 pr_20">
		<tbody>
		<tr>
		<td height="25" bgcolor="#FFFFFF" style="border-bottom:1px #CCCCCC dashed;padding-left:20px;">
		<strong>{$list[$key]['moduel']}：</strong></td>
		</tr>
		<tr>
		<td bgcolor="#FFFFFF" style="padding-left:14px;">
		<ul style="margin:0px;padding:3px;list-style:none;">
		<?php foreach($val as $kkk=>$vvv){?>
		<?php $xuanz=''; if(!empty($rosepower) && in_array($kkk, $rosepower)){ $xuanz = 'checked="true"'; }?>
		<li class="user_box_li user_box_li_new_length">
			<label><input type="checkbox" name="powerid[]" class="chklie" value="{$kkk}" {$xuanz} />{$list[$kkk]['actionName']}</label>
		</li>
		<?php }?>
		</ul>
		</td>
		</tr>
		</tbody>
	</table>
	<?php }?>
	<?php }?>
	<div class="admin_list_btm mb_20">
		<div style="padding:15px 0px 12px 150px;">
		<input type="hidden" name="id" value="{$detail['id']}" />
		<input type="submit" class="admin_submit" id="ButSave" value="提 交" />
		</div>
	</div>
	</form>
</div>

{include file="/common/main_footer"}
