<?php
$ysarr1=0;$ysarr2=0;$ysarr3=0;$ysarr4=0;$ysarr5=0;$ysarr9=0;
$arr1 = ["modcard","changepwd","memberauth","myshipaddress","mycollmember","mycolllist","newslist","skilltags",
"trends","trendsadd","trendsupd","integral","integraladd"];
$arr2 = ["material","materialadd","materialupd","materialinfo","upmatall","upmatallrecords","upmatallinfo"];
$arr3 = ["mzhongbao","mzbadd","mzbupd","mzbwtb","mzbwtbdetail"];
$arr4 = ["mzhongchou","mzcadd","mzcupd","mzcsetrule","mzcbuylist","mzcorder"];
$arr5 = ["mshangpin","mspadd","mspadd","mspupd","mspupddetail","mspupdimages","mspupdnorms","mspupdrule",
"mspsellorder","mspsellorderdetail","mspbuyorder","mspbuyorderdetail"];
$arr9 = ["mzbpartin","mzbwtbupd","mzbworks","mzbworksadd","mzbworksupd",];
if(in_array($action,$arr1)){
	$ysarr1=1;
}elseif(in_array($action,$arr2)){
	$ysarr2=1;
}elseif(in_array($action,$arr3)){
	$ysarr3=1;
}elseif(in_array($action,$arr4)){
	$ysarr4=1;
}elseif(in_array($action,$arr5)){
	$ysarr5=1;
}elseif(in_array($action,$arr9)){
	$ysarr9=1;
}else{
	$ysarr1=1;
}
?>
<div class="l-nav m20">
    <ul>
        <li class="top-fixed"><a href="{:url('home/member/index')}">首页</a></li>
		<li class="l-nav-list {$ysarr1>0?'on':''}" _isopen="{$ysarr1>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-domain">个人中心<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr1>0){echo 'style="display:block"';}?>>
                <li <?php if($action=='modcard'){echo 'class="active"';}?>>
                    <a href="{:url('home/member/modcard')}">修改资料</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='changepwd')"}class="active"{/if}>
                    <a href="{:url('home/member/changepwd')}">修改密码</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='memberauth')"}class="active"{/if}>
                    <a href="{:url('home/member/memberauth')}">账号认证</a>
                    <i class="bg-icon"></i>
                </li>
				<?php if($member['auth_cate']==2 || $member['auth_cate']==3){?>
                <li {if condition="($action=='skilltags')"}class="active"{/if}>
                    <a href="{:url('home/member/skilltags')}">技能标签</a>
                    <i class="bg-icon"></i>
                </li>
				<?php }?>
				<?php if(in_array($member['auth_cate'],['2','3','4'])){?>
                <li {if condition="($action=='modcontent')"}class="active"{/if}>
                    <a href="{:url('home/member/modcontent')}">公司介绍</a>
                    <i class="bg-icon"></i>
                </li>
				<?php }?>
                <li {if condition="($action=='integral')"}class="active"{/if}>
                    <a href="{:url('home/member/integral')}">我的积分</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='myshipaddress')"}class="active"{/if}>
                    <a href="{:url('home/member/myshipaddress')}">收货地址</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mycollmember')"}class="active"{/if}>
                    <a href="{:url('home/member/mycollmember')}">我的关注</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mycolllist')"}class="active"{/if}>
                    <a href="{:url('home/member/mycolllist')}">我的收藏</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='newslist')"}class="active"{/if}>
                    <a href="{:url('home/member/newslist')}">消息列表</a>
                    <i class="bg-icon"></i>
                </li>
				<?php if($member['auth_cate']==4){?>
                <li {if condition="($action=='trends')"}class="active"{/if}>
                    <a href="{:url('home/member/trends')}">新闻动态</a>
                    <i class="bg-icon"></i>
                </li>
				<?php }?>
            </ul>
        </li>
		<?php if($member['auth_cate']==4){?>
        <li class="l-nav-list {$ysarr2>0?'on':''}" _isopen="{$ysarr2>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-finance">素材管理<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr2>0){echo 'style="display:block"';}?>>
                <li {if condition="($action=='material'||$action=='materialinfo'||$action=='materialupd')"}class="active"{/if}>
					<a href="{:url('home/Msucai/material')}">素材管理</a>
					<i class="bg-icon"></i>
				</li>
                <li {if condition="($action=='materialadd')"}class="active"{/if}>
					<a href="{:url('home/Msucai/materialadd')}">上传素材</a>
					<i class="bg-icon"></i>
				</li>
                <li {if condition="($action=='upmatall')"}class="active"{/if}>
					<a href="{:url('home/Msucai/upmatall')}">批量上传</a>
					<i class="bg-icon"></i>
				</li>
                <li {if condition="($action=='upmatallrecords')"}class="active"{/if}>
					<a href="{:url('home/Msucai/upmatallrecords')}">批量上传记录</a>
					<i class="bg-icon"></i>
				</li>
            </ul>
        </li>
        <li class="l-nav-list {$ysarr3>0?'on':''}" _isopen="{$ysarr3>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-user">众包设计<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr3>0){echo 'style="display:block"';}?>>
                <li {if condition="($action=='mzhongbao')"}class="active"{/if}>
                    <a href="{:url('home/mzhongbao/mzhongbao')}">众包管理</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzbadd')"}class="active"{/if}>
                    <a href="{:url('home/mzhongbao/mzbadd')}">发布众包</a>
                    <i class="bg-icon"></i>
                </li>
            </ul>
        </li>
        <li class="l-nav-list {$ysarr4>0?'on':''}" _isopen="{$ysarr4>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-booking">产品众筹<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr4>0){echo 'style="display:block"';}?>>
                <li {if condition="($action=='mzhongchou')"}class="active"{/if}>
                    <a href="{:url('home/mzhongchou/mzhongchou')}">众筹管理</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzcadd')"}class="active"{/if}>
                    <a href="{:url('home/mzhongchou/mzcadd')}">发布众筹</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzcbuylist')"}class="active"{/if}>
                    <a href="{:url('home/mzhongchou/mzcbuylist')}">认筹管理</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzcorder')"}class="active"{/if}>
                    <a href="{:url('home/mzhongchou/mzcorder')}">我的订单</a>
                    <i class="bg-icon"></i>
                </li>
            </ul>
        </li>
        <li class="l-nav-list {$ysarr5>0?'on':''}" _isopen="{$ysarr5>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-seller">商品管理<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr5>0){echo 'style="display:block"';}?>>
                <li {if condition="($action=='mshangpin')"}class="active"{/if}>
                    <a href="{:url('home/mshangpin/mshangpin')}">商品列表</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mspadd')"}class="active"{/if}>
                    <a href="{:url('home/mshangpin/mspadd')}">发布商品</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mspsellorder')"}class="active"{/if}>
                    <a href="{:url('home/mshangpin/mspsellorder')}">卖出订单</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mspbuyorder')"}class="active"{/if}>
                    <a href="{:url('home/mshangpin/mspbuyorder')}">购买订单</a>
                    <i class="bg-icon"></i>
                </li>
            </ul>
        </li>
		<?php }?>
		<?php if($member['auth_cate']==2 || $member['auth_cate']==3){?>
        <li class="l-nav-list {$ysarr9>0?'on':''}" _isopen="{$ysarr9>0?'2':'1'}">
            <a href="javascript:void(0);" class="title nav-user">众包设计<i class="ico"></i></a>
            <ul class="l-nav-fork" <?php if($ysarr9>0){echo 'style="display:block"';}?>>
                <li {if condition="($action=='mzbpartin')"}class="active"{/if}>
                    <a href="{:url('home/mzhongbao/mzbpartin')}">我的投稿</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzbworks')"}class="active"{/if}>
                    <a href="{:url('home/mzhongbao/mzbworks')}">我的作品</a>
                    <i class="bg-icon"></i>
                </li>
                <li {if condition="($action=='mzbworksadd')"}class="active"{/if}>
                    <a href="{:url('home/mzhongbao/mzbworksadd')}">上传作品</a>
                    <i class="bg-icon"></i>
                </li>
            </ul>
        </li>
		<?php }?>
    </ul>
</div>
<script>
$(function(){
	$('.l-nav-list').click(function(){
		var old_isopen = $(".active").parents('.l-nav-list').attr("_isopen");
		var isopen = $(this).attr("_isopen");
		if(isopen!=old_isopen){
			if(isopen!=2){
		        $('.l-nav-list').removeClass('on').attr("_isopen",1).find('.l-nav-fork').hide();
		        $(this).addClass("on").attr("_isopen",2).find('.l-nav-fork').show();
			}else{
		        $(this).removeClass('on').attr("_isopen",1).find('.l-nav-fork').hide();
			}
		}
	});
});
</script>
