<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>个人资料-会员中心</title>
{include file="/member/m_header"}
</head>

<body>

<!--头部开始-->
{include file="/member/m_top"}
<!-- 非头尾的内容 START -->
<!--面包屑导航开始-->
<div class="breadcrumb clearfix " >
</div>
<!--面包屑导航结束-->

<div class="main clearfix" >
{include file="/member/m_left"}
    <div class="contents fr m20">
		{include file="/member/ad"}
		
		<div class="lm">
			<a class="on">修改资料</a>
		</div>
    	<div class="border">
    	  <div class="forms">
			<form action="{:url('home/Member/modcard')}" method="post">
			<div class="row">
				<span><i>* </i>昵称</span> 
				<input type="text" name="nick_name" id="nick_name" value="{$member['nick_name']}" placeholder="输入昵称" autofocus="autofocus" />
			</div>
			<div class="row">
				<span><i>* </i>个性签名</span> 
				<input type="text" name="sign" id="sign" value="{$member['sign']}" placeholder="输入个性签名，不超过20个字" />
			</div>
			<div class="row">
				<span>性别</span> 
				<input type="radio" name="sex" value="1" {if condition="($member['sex']==1)"}checked="checked"{/if} /> 男  
				<input type="radio" name="sex" value="2" {if condition="($member['sex']==2)"}checked="checked"{/if} /> 女 
				<input type="radio" name="sex" value="0" {if condition="($member['sex']==0)"}checked="checked"{/if} /> 不确定 
			</div>
			<div class="row">
				<span>年龄</span> <input type="text" name="age" value="{$member['age']}" placeholder="请输入年龄" />
			</div>
			<div class="row" >
				<span>头像</span> 
				<a class="ups up_logo"><img id="finalImg" src="{$member['imgurl']}" style="max-width:210px;" /></a>
				<input type="hidden" name="imgurl" id="imgurl" value="{$member['imgurl']}" />
			</div>
			<div class="row">
				<span>联系电话</span> <input type="text" name="mobile" value="{$member['mobile']}" placeholder="请输入联系电话" />
			</div>
			<div class="row">
				<span>电子邮箱</span> <input type="text" name="email" value="{$member['email']}" placeholder="请输入电子邮箱" />
			</div>
			<div class="row">
				<span>QQ</span> <input type="text" name="qq" value="{$member['qq']}" placeholder="请输入QQ" />
			</div>
			<div class="row">
				<span>微信号</span> <input type="text" name="weixin" value="{$member['weixin']}" placeholder="请输入微信号" />
			</div>
			<input type="submit" value="确认" class="submit" />
			</form>
		  </div>
    	</div>
    </div>
</div>
<!-- 非头尾的内容 END -->

<script>
$(function(){
	$(".submit").click(function(){
		var _unameobj=$('#nick_name');
		_uname=_unameobj.val();
		_kg=/\s+/;
		if(_kg.test(_uname)) {
			alert('您的昵称不能包含空格！');
			_unameobj.focus();
			return false;
		}else if(_uname.length<1) {
			alert('您的昵称长度不能为空！');
			_unameobj.focus();
			return false;
		}else if(_uname.length>50) {
			alert('您的昵称长度必须小于50个字符！');
			_unameobj.focus();
			return false;
		}
		if($('#sign').val().length>20) {
			alert('个性签名不要超过20个字！');
			$('#sign').focus();
			return false;
		}
		return true;
	});
});
</script>
{include file="/common/uptouxiang"}
<script>
$(function () {
	//弹出图片裁剪框
	$(".up_logo").on("click",function () {
		$(".tailoring-container").toggle();
	});
	//裁剪后的处理
	$("#sureCut").on("click",function () {
		if ($("#tailoringImg").attr("src") == null ){
			return false;
		}else{
			var cas = $('#tailoringImg').cropper('getCroppedCanvas',{width:500,height:500});//获取被裁剪后的canvas
			var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
			$("#finalImg").prop("src",base64url);//显示为图片的形式
			//关闭裁剪框
			closeTailor();
			//上传到服务器
			$.post("{:url('home/Aajax/ajaxupimages')}",{imgsource:base64url,type:'logo'},function(data){
				$("#imgurl").val(data.imgurl);
				$("#finalImg").attr("src",data.imgurl);
			},"json");
//			$.ajax({
//				url:"{:url('home/Aajax/ajaxupimages')}",
//                type: 'post',
//                datatype:'json',
//                data: {imgsource:base64url},
//				success:function(data){
//					$("#imgurl").val(data.imgurl);
//					alert(data.imgurl);
//				}
//			});
		}
	});
});
</script>

{include file="/member/m_footer"}

</body>
</html>
