<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>确认订单</title>
{include file="/common/c_header"}
<link type="text/css" rel="stylesheet" href="__STATIC__/webmember/css/base.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/webmember/css/style.css"/>
<style>
.hy-zffy h3{margin-bottom:0;}
.hySure01{margin-top:10px;}
.hySure02-01{margin:5px 0;height:40px;line-height:40px;overflow:hidden;font-size:14px;}
.hySure02-01 label{display:block;float:left;}
.hySure02-01 i{margin:8px 10px 0 10px;display:block;float:left;}
.hySure02-01 b{line-height:40px;display:block;float:left;}
.hySure02-01 p{font-size:14px;line-height:40px;}
.hySure02-01 input{margin:13px 7px 0 5px;}
.hySure02-01 span{margin:10px 0 0 25px;}
.hySure02-01 a{line-height:40px;}
.glshdz{margin:20px 0 10px;clear:both;}
.glshdz a{margin-left:80px;}
.f_red{color:#f40;}
a.f_xg{font-size:14px;font-weight:normal;color:#36c;}
.cho_dz{background-color:#fff0e8;font-size:16px;font-weight:bold;border:1px solid #f40;}
.cho_dz b{font-size:14px;font-weight:bold;}
.cho_dz p{font-size:16px;}
.dzlie label{cursor:pointer;}
.dzlie:hover{background-color:#fff0e8;}
.pop_box{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.5);z-index:99;}
.pop_boxc03{margin:-220px 0 0 -250px;}
.pop_boxc03M-01{font-size:14px;}
.pop_box .pop_boxc01B{background-color:#fcfcfc;}
input{padding:0px 5px;border-radius:3px;}
.hy-zffyB01 p{font-size:14px;font-weight:bold;}
.hyCurt .hy-zffyB03 b{width:auto;color:#333;}
.tot_price{font:bold 30px/1.5 "Microsoft YaHei";color:#f00;padding-left:5px;}
.fpbox{margin-left:100px;margin-bottom:10px;display:none;}
.fpbox .fplie{margin:0 0 10px;height:30px;line-height:30px;}
.fpbox .fplie span{display:block;float:left;width:100px;text-align:right;}
.fpbox .fplie input{border: 1px solid #aaa;width:250px;height:30px;}
</style>
</head>

<body>

<div class="wrap">
{include file="/common/c_top"}

<div class="w">
	<div class="hyCurt">
		<form id="addform" method="post" action="">
		<div class="hy-zffy">
			<h3>确认订单信息</h3>
			<div class="hySure">
				<div class="hySure02">
					{volist name="dzlist" id="val"}
					<div class="hySure02-01 dzlie {$val['is_default']==2?'cho_dz':'hySure02-02'}">
						<label _info="{$val['info']}" _tname="{$val['truename']} {$val['mobile']}">
						{php}if($val['is_default']==2){{/php}
						<i class="fl"><img src="__STATIC__/webmember/img/dw.png" /></i>
						<b class="fl f_red">寄送至</b>
						{php}}else{{/php}
						<i class="fl"></i>
						<b class="fl"></b>
						{php}}{/php}
						<input type="radio" name="msarid" value="{$val['id']}" class="fl msarid" {$val['is_default']==2?'checked=true':''} />
						<p class="fl">{$val['info']} （{$val['truename']}）{$val['mobile']}</p>
						</label>
						{php}if($val['is_default']==2){{/php}
						<span class="fl">默认地址</span>
						<a href="javascript:;" class="fr f_xg upd_dizhi">修改地址</a>
						{php}}else{{/php}
						<a href="javascript:;" class="fr f_xg upd_dizhi" style="display:none;">修改地址</a>
						{php}}{/php}
					</div>
					{/volist}
					{php}if(empty($dzlist)){{/php}
					<div class="glshdz">
						<a href="javascript:;" class="f_xg upd_dizhi" target="_blank">新增收货地址</a>
						<input type="hidden" name="msarid" class="msarid" value="" />
					</div>
					{php}}else{{/php}
					<div class="glshdz">
						<a href="{:url('home/Member/myshipaddress')}" class="f_xg" target="_blank">管理收货地址</a>
					</div>
					{php}}{/php}
				</div>
				<div class="hySure01">
					<div class="hySure01T">
						<span class="hysure-01">商品</span>
						<span class="hysure-02">单价</span>
						<span class="hysure-03">数量</span>
						<span class="hysure-04">小计（元）</span>
					</div>
					{php}$tot_price = 0;{/php}
					{volist name="list" id="val"}
					{php}if($val['amount']>0){{/php}
					{php}$price_li = $val['amount'];{/php}
					{php}}else{{/php}
					{php}$price_li = $val['num']*$val['price'];{/php}
					{php}}{/php}
					{php}$tot_price = ($tot_price+$price_li);{/php}
					<div class="hySure01B">
						<div class="hy-orderB02-img fl">
							<img src="<?php echo getImgURL($val['cover']);?>" class="fl" width="60" height="60" />
							<p>{$val['title']}<br/></p>
						</div>
						<span class="hysure-02">￥{$val['price']}</span>
						<span class="hysure-03">x{$val['num']}</span>
						<span class="hysure-04"><b>￥{php}echo number_format($price_li,2);{/php}</b></span>
					</div>
					{/volist}
				</div>
				<div class="hySure03">
					<span class="fl">给商家留言</span>
					<input type="text" name="leavemes" id="leavemes" class="fl" placeholder="100字以内" />
					<span class="fl">可以不填</span>
				</div>
				<div class="hySure04">
					<div class="fl">
					<label><input type="checkbox" name="is_invoice" id="is_invoice" value="1" />&nbsp;<b>需要发票</b></label>
					<br /><p>普通发票</p>
					</div>
					<div class="fl fpbox">
						<div class="fplie"><span>发票抬头：</span>
						<input type="text" name="invoice_name" id="invoice_name" class="" placeholder="发票抬头" />
						</div>
						<div class="fplie"><span>纳税人识别号：</span>
						<input type="text" name="invoice_sn" id="invoice_sn" class="" placeholder="纳税人识别号" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hy-zffyB">
			<h2>结算信息</h2>
			<div class="hy-zffyB01 hy-zffyB04">
				<font class="fr tot_price"><?php echo number_format($tot_price,2);?></font>
				<p class="fr" style="line-height:50px;">实付款：￥</p>
			</div>
			<div class="hy-zffyB01 hy-zffyB03">
				<b class="fr dz_info"></b>
				<p class="fr">寄送至：</p>
			</div>
			<div class="hy-zffyB01 hy-zffyB03">
				<b class="fr dz_shr"></b>
				<p class="fr">收货人：</p>
			</div>
			<div class="hy-zffyB02 hy-zffyB02-">
				<input type="hidden" name="sh_area" id="sh_area" value=""  />
				<a href="javascript:;" id="submit">提交订单</a>
			</div>
		</div>
		</form>
	</div>
</div>

{include file="/common/c_footer"}
</div>
<div class="pop_box">
  <div class="pop_boxc01 pop_boxc03">
	<div class="pop_boxc01T">
		<h3 class="fl">编辑收货地址</h3>
		<a href="javascript:;" class="fr box_close">x</a>
	</div>
	<div class="pop_boxc03M">
		<div class="pop_boxc03M-01">
			<div class="pop_boxc03M-01L fl"><span>* </span>收货人</div>
			<div class="pop_boxc03M-01R fl">
				<input type="text" name="truename" id="truename" style="width:195px;" />
			</div>
		</div>
		<div class="pop_boxc03M-01">
			<div class="pop_boxc03M-01L fl"><span>* </span>联系电话</div>
			<div class="pop_boxc03M-01R fl">
				<input type="text" name="mobile" id="mobile" style="width:195px;" />
			</div>
		</div>
		<div class="pop_boxc03M-01">
			<div class="pop_boxc03M-01L fl"><span>* </span>配送地区</div>
			<div class="pop_boxc03M-01R fl">
				<select name="province" id="province" class="fl">
					<option value="">请选择</option>
					{volist name="areaerji" id="val"}
					<option value="{$val['id']}">{$val['name']}</option>
					{/volist}
				</select>
				<select name="city" id="city" class="fl">
					<option value="">请选择</option>
				</select>
				<select name="county" id="county" class="fl">
					<option value="">请选择</option>
				</select>
			</div>
		</div>
		<div class="pop_boxc03M-01">
			<div class="pop_boxc03M-01L fl"><span>* </span>收货地址</div>
			<div class="pop_boxc03M-01R fl">
				<input type="text" name="address" id="address" style="width:340px;" />
			</div>
		</div>
		<div class="pop_boxc03M-01">
			<div class="pop_boxc03M-01L fl">邮编</div>
			<div class="pop_boxc03M-01R fl">
				<input type="text" name="zipcode" id="zipcode" style="width:195px;" />
			</div>
		</div>
	</div>
	<div class="pop_boxc01B pop_boxc01B-">
		<input type="hidden" name="id" id="id" value="" />
		<a href="javascript:;" id="upddzsm" class="aSubmit">确认</a>
		<a href="javascript:;" class="aClose box_close">关闭</a>
	</div>
  </div>
</div>
<script type="text/javascript">
$(function(){
	$(".dz_info").html($(".cho_dz label").attr("_info"));
	$(".dz_shr").html($(".cho_dz label").attr("_tname"));
	$("#sh_area").val($(".cho_dz label").attr("_info"));
	$("#is_invoice").click(function(){
		if($(this).is(":checked")){
			$(this).val('2');
			$(".fpbox").show();
		}else{
			$(this).val('1');
			$(".fpbox").hide();
			$(".fpbox input").val('');
		}
	});
	$(".dzlie label").click(function(){
		if(!$(this).find("input").is(":checked")){
			if(confirm("更换地址后，您需要重新确认订单信息")){
				$(".dzlie").addClass("hySure02-02");
				$(".dzlie").removeClass("cho_dz");
				$(".dzlie").find("i").html('');
				$(".dzlie").find("b").html('');
				$(".dzlie").find("a").hide();
				$(this).parents(".dzlie").addClass("cho_dz");
				$(this).parents(".dzlie").removeClass("hySure02-02");
				$(this).parents(".dzlie").find("i").html('<img src="__STATIC__/webmember/img/dw.png" />');
				$(this).parents(".dzlie").find("b").html('寄送至');
				$(this).parents(".dzlie").find("a").show();
				$(".dz_info").html($(this).attr("_info"));
				$(".dz_shr").html($(this).attr("_tname"));
				$("#sh_area").val($(this).attr("_info"));
			}else{
				return false;
			}
		}
	});
	$("#submit").click(function(){
		if(!($(".msarid").val()>0)){
			alert("请选择收货地址！");
			return false;
		}
		$("#addform").submit();
	});
});
</script>
<script type="text/javascript">
$(function(){
	$(".box_close").click(function(){
		$(".pop_box").hide();
	});
	$("#upddzsm").click(function(){
		if($('#truename').val().length<1) {
			alert('收货人不能为空！');
			$('#truename').focus();
			return false;
		}
		if($('#mobile').val().length<1) {
			alert('电话不能为空！');
			$('#mobile').focus();
			return false;
		}
		if(!($('#province').val()>0) || !($('#city').val()>0) || !($('#county').val()>0)) {
			alert('请选择配送地区！');
			return false;
		}
		if($('#address').val().length<1) {
			alert('收货地址不能为空！');
			$('#address').focus();
			return false;
		}
		var id = $("#id").val();
		var truename = $("#truename").val();
		var mobile = $("#mobile").val();
		var province = $("#province").val();
		var city = $("#city").val();
		var county = $("#county").val();
		var address = $("#address").val();
		var zipcode = $("#zipcode").val();
		$.post("{:url('home/Member/ajaxupddizhi')}?id="+id,
		{truename:truename,mobile:mobile,province:province,city:city,county:county,address:address,zipcode:zipcode},
		function(data){
			location.reload();
		},'json');
	});
	//编辑
	$(".upd_dizhi").click(function(){
		$(".pop_box").show();
		var id = $(this).parents(".dzlie").find("input").val();
		$.post("{:url('home/member/getdizhiobj')}",{id:id},function(data){
			if(data.id>0){
				$('#id').val(data.id);
				$('#truename').val(data.truename);
				$('#mobile').val(data.mobile);
				$('#address').val(data.address);
				$('#zipcode').val(data.zipcode);
				$("#province").find("option[value='"+data.province+"']").attr("selected",true);
				$("#city").empty();
				$("#county").empty();
				$("#city").append("<option value='"+data.city+"'>"+data.city_name+"</option>");
				$("#county").append("<option value='"+data.county+"'>"+data.county_name+"</option>");
			}
		},"json");
	});
	//区域联动-省
	$("#province").change(function(){
		var id = $(this).val();
		$.post("{:url('home/Aajax/getareabypid')}",{id:id},function(data){
			$("#city").empty();
			$("#city").append("<option value=''>请选择</option>");
			$("#county").empty();
			$("#county").append("<option value=''>请选择</option>");
			$.each(data,function(key, val){
				$("#city").append("<option value='"+val.id+"'>"+val.name+"</option>");
			});
		},"json");
	});
	//区域联动-市
	$("#city").change(function(){
		var id = $(this).val();
		$.post("{:url('home/Aajax/getareabypid')}",{id:id},function(data){
			$("#county").empty();
			$.each(data,function(key, val){
				$("#county").append("<option value='"+val.id+"'>"+val.name+"</option>");
			});
		},"json");
	});
});
</script>

</body>
</html>
