<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理中心</title>
</head>
<frameset rows="60,*" frameborder="no" border="0" framespacing="0">
    <frame src="/Admin/admin/top" name="topFrame" id="topFrame" scrolling="no" frameborder="NO" border="0" framespacing="0">
    <frameset cols="200,*" name="bodyFrame" id="bodyFrame" frameborder="no" border="0" framespacing="0">
        <frame src="/Admin/admin/left" name="leftFrame" id="leftFrame" frameborder="no" scrolling="no" noresize>
        <frame src="/Admin/admin/main" name="mainFrame" id="mainFrame" frameborder="no" scrolling="auto" noresize>
    </frameset>
</frameset>
<noframes>
    <body>你的浏览器不支持框架</body>
</noframes>
</html>
