{include file="/common/main_top"}
<div class="allpagetop">后台管理中心<strong>/</strong>首页</div>
<div class="mains">
	<div class="errtit">欢迎来到文创管理平台。</div>
	
	<?php /*?>
	<div class="toptit">今日统计</div>
	<div class="mainli num">新增个人会员<a href="javascript:void(0);" id="personal_users">0</a></div>
	<div class="mainli num">新增简历<a href="javascript:void(0);" id="resumes">999</a></div>
	<div class="clear"></div>
	<?php */?>
	
	<div class="toptit">服务器信息</div>
	<div class="mainli">操作系统：Linux</div>
	<div class="mainli">PHP版本：7.1</div>
	<div class="mainli">MySQL版本：5.7</div>
	<div class="mainli">服务器软件：Nginx</div>
	<div class="clear"></div>
</div>

{include file="/common/main_footer"}
