{include file="/common/main_top"}
<script>
$(function(){
	//全选
	$('#chkall').click(function(){
		var chk = $(this).is(":checked");
		$('.chklie').each(function(){
			$(this).attr('checked' , chk);
		});
	});
	//查询
	$('#findbtn').click(function(){
		var arr=[];
		arr.push($('#uid').val());
		arr.push($('#cate').val());
		arr.push($('#otherid').val());
		arr.push($('#time1').val());
		arr.push($('#time2').val());
		var find = "?find="+arr.join("{$search_separ}");
		var url = "{:url('/Admin/Membercoll/browse')}";
		location.href = url+find;
	});
});
</script>
<div class="allpagetop">后台管理中心<strong>/</strong>收藏管理</div>
<div class="mains">
	<div class="h1tit">
		<div class="h1">收藏管理</div>
		<div class="topnav">
			<a href="{:url('/Admin/Membercoll/browse')}" class="select">收藏列表</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="sea_div mt_10">
		<div class="sea_clearbtn f_r mr_20" id="clearbtn">清除</div>
		<div class="sea_btn f_r" id="findbtn">查询</div>
		<div class="sea_text f_r">
			<div class="sobox">
			<div class="sotype">结束时间</div>
			<input type="text" id="time2" value="{$findObj['time2']}" class="sinput" onClick="new Calendar().show(this);" readonly="readonly" />
			</div>
		</div>
		<div class="sea_text f_r">
			<div class="sobox">
			<div class="sotype">开始时间</div>
			<input type="text" id="time1" value="{$findObj['time1']}" class="sinput" onClick="new Calendar().show(this);" readonly="readonly" />
			</div>
		</div>
		<div class="sea_text f_r">
			<div class="sobox">
			<div class="sotype">被收藏</div>
			<input type="text" id="otherid" class="sinput" value="{$findObj['otherid']}" placeholder="请输入被收藏的id搜索" />
			</div>
		</div>
		<select id="cate" class="gg_select w100 f_r ml_20">
			<option value="" selected="selected">选择类型</option>
			{volist name="catearr" id="val"}
			<option value="{$key}" <?php echo $findObj['cate']==$key?'selected':''?>>{$val}</option>
			{/volist}
		</select>
		<div class="sea_text f_r">
			<div class="sobox">
			<div class="sotype">会员</div>
			<input type="text" id="uid" class="sinput" value="{$findObj['uid']}" placeholder="请输入会员uid搜索" />
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="list_th">
		<div class="td" style="width:10%;">
			<label class="left_padding">
				<input type="checkbox" id="chkall" title="全选/反选"/>ID
			</label>
		</div>
		<div class="td" style="width:30%;">会员（头像/uid/昵称）</div>
		<div class="td" style="width:10%;">类型</div>
		<div class="td" style="width:30%;">被关注收藏</div>
		<div class="td" style="width:10%;">录入时间</div>
		<div class="td" style="width:5%;">操作</div>
		<div class="clear"></div>
	</div>
	<?php if(empty($list)){?>
	<div class="list_empty">没有任何信息！</div>
	<?php }else{?>
	{volist name="list" id="val"}
	<div class="list_tr link_black">
		<div class="td" style="width:10%;">
			<div class="left_padding striking link_blue">
			<input type="checkbox" name="id[]" class="chklie" value="{$val.id}"/>{$val.id}
			</div>
		</div>
		<div class="td" style="width:30%;">&nbsp;
			<a href="{:url('/Admin/member/browse','find='.$val['uid'])}">
			<img src="<?php echo getImgURL($memberlist[$val['uid']]['imgurl'],'memberlogo');?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.uid}<br/>{$memberlist[$val['uid']]['nick_name']}</div>
			</a>
			<div class="clear"></div>
		</div>
		<div class="td" style="width:10%;">
			{php}if($val['cate']==1){echo '关注';}else{echo '收藏';}{/php}【{$catearr[$val['cate']]}】
		</div>
		<div class="td" style="width:30%;">&nbsp;
			{php}if($val['cate']==1){{/php}
			<a href="{:url('/Admin/member/browse','find='.$val['otherid'])}">
			<img src="<?php echo getImgURL($memberlist[$val['otherid']]['imgurl'],'memberlogo');?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.otherid}<br/>{$memberlist[$val['otherid']]['nick_name']}</div>
			</a>
			{php}}elseif($val['cate']==2){{/php}
			<a>
			<img src="<?php echo getImgURL($matlist[$val['otherid']]['cover']);?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.otherid}<br/>{$matlist[$val['otherid']]['title']}</div>
			</a>
			{php}}elseif($val['cate']==3){{/php}
			<a>
			<img src="<?php echo getImgURL($cdsclist[$val['otherid']]['cover']);?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.otherid}<br/>{$cdsclist[$val['otherid']]['title']}</div>
			</a>
			{php}}elseif($val['cate']==4){{/php}
			<a>
			<img src="<?php echo getImgURL($cdfclist[$val['otherid']]['cover']);?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.otherid}<br/>{$cdfclist[$val['otherid']]['title']}</div>
			</a>
			{php}}elseif($val['cate']==5){{/php}
			<a>
			<img src="<?php echo getImgURL($goodslist[$val['otherid']]['cover']);?>" class="suotu_div f_l" _shuiyin="2" width="133" height="99" />
			<div class="f_l ml_10">{$val.otherid}<br/>{$goodslist[$val['otherid']]['title']}</div>
			</a>
			{php}}{/php}
			<div class="clear"></div>
		</div>
		<div class="td" style="width:10%;">
			<?php echo $val['input_time']>0?date("Y-m-d H:i:s",$val['input_time']):''?>
		</div>
		<div class="td edit" style="width:5%;">
		</div>
		<div class="clear"></div>
	</div>
	{/volist}
	<?php }?>
	<div class="pages">
		{$list->render()}
	</div>
</div>

{include file="/common/main_footer"}
