{include file="/common/main_top"}
<script>
$(document).ready(function () {
	$(".shen_chk").click(function(){
		var is_chk = $(this).attr("_val");
		$("#is_chk").val(is_chk);
		if($("#leaguer_no").val()=='' && is_chk==2){
			alert("请填写成员馆文件夹名称，用于保存素材");
			$("#leaguer_no").focus();
			return false;
		}
		$("#addform").submit();
	});
});
</script>
<div class="allpagetop">后台管理中心<strong>/</strong>会员认证管理<strong>/</strong>会员认证信息</div>
<div class="mains">
	<div class="h1tit">
		<div class="h1">会员认证管理</div>
		<div class="topnav">
			<a href="{:url('/Admin/memberauth/browse')}">会员认证列表</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="toptit">会员认证信息</div>
	<form id="addform" method="post" action="">
	<div class="form_main width150">
		<div class="fl">会员编号:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['uid']}</div>
		</div>
		<div class="fl">认证logo:</div>
		<div class="fr">
			<img src="<?php echo getImgURL($detail['logo'],'memberauth','');?>" width="133" height="99" />
		</div>
		<?php if($detail['cate']==1 || $detail['cate']==2){?>
			<div class="fl">真实姓名:</div>
			<div class="fr">
				<div style="padding-top:12px;">{$detail['true_name']}</div>
			</div>
			<?php if($detail['cate']==1){?>
			<div class="fl">身份证号码:</div>
			<div class="fr">
				<div style="padding-top:12px;">{$detail['IDcard']}</div>
			</div>
			<?php }else{?>
			<div class="fl">工作单位:</div>
			<div class="fr">
				<div style="padding-top:12px;">{$detail['work_unit']}</div>
			</div>
			<div class="fl">身份证正反面:</div>
			<div class="fr">
				<img src="<?php echo getImgURL($detail['IDcardimg_a'],'memberauth','');?>" width="133" height="99" />
				<img src="<?php echo getImgURL($detail['IDcardimg_b'],'memberauth','');?>" width="133" height="99" />
			</div>
			<div class="fl">毕业证书照片:</div>
			<div class="fr">
				<img src="<?php echo getImgURL($detail['graducerti'],'memberauth','');?>" width="133" height="99" />
			</div>
			<div class="fl">最高学历:</div>
			<div class="fr">
				<div style="padding-top:12px;">{$detail['diploma']}</div>
			</div>
			<div class="fl">所学专业:</div>
			<div class="fr">
				<div style="padding-top:12px;">{$detail['major']}</div>
			</div>
			<?php }?>
		<?php }else{?>
		<div class="fl">团队企业名称:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['company']}</div>
		</div>
		<div class="fl">法人代表:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['legal']}</div>
		</div>
			<?php if($detail['cate']==3){?>
			<div class="fl">类型:</div>
			<div class="fr">
				<div style="padding-top:12px;"><?php echo $detail['team_cate']==1?'设计公司':'商品加工生产企业';?></div>
			</div>
			<div class="fl">营业执照副本:</div>
			<div class="fr">
				<img src="<?php echo getImgURL($detail['license'],'memberauth','');?>" width="133" height="99" />
			</div>
			<?php }else{?>
			<div class="fl">组织机构代码:</div>
			<div class="fr">
				<img src="<?php echo getImgURL($detail['org_code'],'memberauth','');?>" width="133" height="99" />
			</div>
			<?php }?>
		<?php }?>
		<div class="fl">电话:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['a_mobile']}</div>
		</div>
		<div class="fl">邮箱:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['a_email']}</div>
		</div>
		<div class="fl">地址:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['a_address']}</div>
		</div>
		<?php if($detail['is_chk']!=2){?>
		<div class="fl">文件夹名称:</div>
		<div class="fr">
			<div style="padding-top:12px;">{$detail['leaguer_no']} <span style="color:red;"><?php echo $is_refile==2?'文件夹重名，请修改':''?></span></div>
			<?php if(empty($detail['leaguer_no']) || $is_refile==2){?>
			<div><input type="text" name="leaguer_no" id="leaguer_no" value="" maxlength="45" class="input_text_default middle mt_10" placeholder="文件夹名称，大写字母" /></div>
			<span style="margin-top:5px;color:#888;">成员馆文件夹用于保存素材文件，不能和已有文件夹重名</span>
			<?php }else{?>
			<input type="hidden" id="leaguer_no" value="{$detail['leaguer_no']}" />
			<?php }?>
		</div>
		<div class="fl">审核:</div>
		<div class="fr">
			<textarea name="remark" cols="70" rows="3" class="input_text_default mb_10" style="font-size:12px;line-height:200%;height:150px;" placeholder="备注"></textarea>
			<input type="button" class="admin_submit shen_chk" _val="2" value="审核通过" />
			<input type="button" class="admin_submit shen_chk" _val="3" value="审核不通过" />
			<input type="hidden" name="is_chk" id="is_chk" value="" />
		</div>
		<?php }?>
		<?php if($detail['is_leaguer']!=2 && $type==3){?>
		<div class="fl">是否成员馆:</div>
		<div class="fr">
			<select name="is_leaguer" class="gg_select w100">
				<option value="1" selected="selected">非成员馆</option>
				<option value="2">成员馆</option>
			</select>
		</div>
		<div class="fl"></div>
		<div class="fr">
			<input type="submit" class="admin_submit" value="保 存" />
		</div>
		<?php }?>
		<div class="fl">备注:</div>
		<div class="fr">
			<pre>{$detail['remark']}</pre>
		</div>
		<div class="clear"></div>
	</div>
	</form>
</div>

{include file="/common/main_footer"}
