<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>产品众筹</title>
{include file="/common/c_header"}
<style>
.cdfdcate{padding-top:18px;line-height:30px;font-size:14px;}
.cdfdcate a{margin:0 12px;}
.cdfdcate a.on{font:bold 16px/1.5 "Microsoft YaHei";color:#1ea0c0;}
p.jjsum{display:block;height:60px;overflow:hidden;text-overflow:ellipsis;}
</style>
</head>

<body>

<div class="wrap">
{include file="/common/c_top"}

  <div class="unionbg clear">
  	{php}if($ads!=''){{/php}
    <div class="raise_banner clear">
		{php}echo $ads;{/php}
	</div>
  	{php}}{/php}
    <div class="raise_tit" id="cfmap">
      <h2>推荐项目</h2>
      <div class="cdfdcate">
      	<a {php}if($cate==''){echo 'class="on"';}{/php} href="{:url('home/crowdfunding/index')}#cfmap">全部</a>/
      	{php}$shu=1;{/php}
      	{volist name="catelist" id="val"}
      	<a {php}if($cate==$val['id']){echo 'class="on"';}{/php} href="{:url('home/crowdfunding/index','cate='.$val['id'])}#cfmap">{$val['title']}</a>
		{php}if($shu!=count($catelist)){echo '/';}{/php}
		{php}$shu++;{/php}
		{/volist}
	  </div>
    </div>
    <div class="raise_list clear">
      <ul>
      	{volist name="list" id="val"}
        <li>
          <div class="pic">
          	<a href="{:url('home/crowdfunding/detail','id='.$val['id'])}">
          	<img src="{php}echo getImgURL($val['cover']);{/php}" width="360" height="268" /></a>
		  </div>
          <h3><a href="{:url('home/crowdfunding/detail','id='.$val['id'])}">{$val['title']}</a></h3>
          <p class="jjsum">{$val['summary']}</p>
          <h4>项目发起成员：{$mlist[$val['uid']]['nick_name']}</h4>
          <div class="progress"><i style="width:{$val['percent']}%;"></i></div>
          <div class="progress_txt">
          	<em><i><font>￥{$val['zhe_price']}</font></i>当前价格</em>
			<em><i>{$val['zhe_num']}</i>认筹数量</em>
			<em><i>{$val['percent']}%</i>众筹进度</em>
		  </div>
        </li>
		{/volist}
      </ul>
    </div>
	  <div class="pagetwo">
		{$list->render()}
	  </div>
  </div>

{include file="/common/c_footer"}
</div>

</body>
</html>
