
<div class="foot">
	<div class="w">
	<div class="copyright">
		<dl><a href="">关于我们</a>   |   <a href="">新手指引</a>    |   <a href="">安全保障</a>   |<a href="">在线客服</a>    |    <a href="">调查问卷</a>     |     <a href="">版权申明</a></dl>
		<p>地址：北京市海淀区中关村南大街33号   电话：（+86 10 88545426  88545360）<br>
京ICP备 1234567890 号-1</p>
	</div>
	<div class="vx_right">
		<div class="fl"><img src="__STATIC__/webnlc/images/vx.png" /><p>APP扫描下载</p></div>
		<div class="fr">
		客服热线<br>
			工作时间：8：00-18：00<br>
			节假日有客服值班
			<p>010-88545360</p>
		</div>
	</div>
	</div>
</div>
