<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$obj['title']}-新闻动态</title>
{include file="/webmember/a_header"}
<style>
.newslist{padding:15px 10px;font-size:14px;}
h4.tit p{float:right;font-size:12px;color:#ccc;}
</style>
</head>

<body>
{include file="/webmember/a_top"}

<div class="clearfix body w">
{include file="/webmember/a_left"}
	<div class="right_m">
		<h4 class="tit">{$obj['title']}<p>发布时间：{$obj['input_time']>0?date("Y-m-d",$obj['input_time']):''}</p></h4>
		<div class="newslist">
			{$obj['content']}
		</div>
	</div>
</div>

{include file="/webmember/a_footer"}

</body>
</html>
