<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>编辑商品详情-会员中心</title>
{include file="/member/m_header"}
<link rel="stylesheet" type="text/css" href="{$Think.config.web_member}/css/style.css"/>
<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/config.js"></script>
<script>
KindEditor.ready(function(K) {
	_base.width=913;
	_base.height=660;
	_base.uploadJson='/home/Aajax/kindimage';
	_base.afterBlur=function(){this.sync();} //js提交表单后端获取内容
	window.editor = K.create('#content',_base);
});
</script>
<style>
</style>
</head>

<body>

<!--头部开始-->
{include file="/member/m_top"}
<!-- 非头尾的内容 START -->
<!--面包屑导航开始-->
<div class="breadcrumb clearfix " >
</div>
<!--面包屑导航结束-->

<div class="main clearfix" >
{include file="/member/m_left"}
	<div class="contents fr m20">
      <div class="clearfix">
		<div class="location">会员中心  > 商品管理   > 编辑商品</div>
		<div class="hyAdd">
			<div class="hyAddT">
				<ul>
				<li onClick="location='{:url('home/mshangpin/mspupd','id='.$obj['id'])}'"><span>商品基础信息</span></li>
				<li onClick="location='{:url('home/mshangpin/mspupddetail','id='.$obj['id'])}'" class="hyAddT-current"><span>商品详细</span></li>
				<li onClick="location='{:url('home/mshangpin/mspupdimages','id='.$obj['id'])}'"><span>商品相册</span></li>
				<li onClick="location='{:url('home/mshangpin/mspupdnorms','id='.$obj['id'])}'"><span>规格/参数</span></li>
				<li onClick="location='{:url('home/mshangpin/mspupdrule','id='.$obj['id'])}'"><span>批发价格</span></li>
				</ul>
			</div>
			<form id="addform" method="post" action="">
			<div class="hyAddB">
				<textarea name="content" id="content">{$obj['content']}</textarea>
				<div class="hyAddB-01B">
					<a href="javascript:void(0);" id="submit" class="qdSave fl">确定保存</a>
					<a href="javascript:void(0);" id="reset" class="hyAdd-cz fl">重置</a>
				</div>
			</div>
			</form>
		</div>
	  </div>
	</div>
</div>
<!-- 非头尾的内容 END -->
<script type="text/javascript">
$(function(){
	//提交
	$('#submit').click(function(){
		$("#addform").submit();
	});
});
</script>

{include file="/member/m_footer"}

</body>
</html>
