{include file="/common/main_top"}
<script>
$(function(){
	//全选
	$('#chkall').click(function(){
		var chk = $(this).is(":checked");
		$('.chklie').each(function(){
			$(this).attr('checked' , chk);
		});
	});
	//查询
	$('#findbtn').click(function(){
		var arr=[];
		arr.push($('#filename').val());
		arr.push($('#is_daoru').val());
		arr.push($('#is_shangc').val());
		var find = "?find="+arr.join("{$search_separ}");
		var url = "{:url('/Admin/materialuprecord/browse')}";
		location.href = url+find;
	});
});
</script>
<div class="allpagetop">后台管理中心<strong>/</strong>素材批量上传管理</div>
<div class="mains">
	<div class="h1tit">
		<div class="h1">素材批量上传管理</div>
		<div class="topnav">
			<a href="{:url('/Admin/materialuprecord/browse')}" class="select">批量上传列表</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="sea_div mt_10">
		<div class="sea_clearbtn f_r mr_20" id="clearbtn">清除</div>
		<div class="sea_btn f_r" id="findbtn">查询</div>
		<select id="is_shangc" class="gg_select w100 f_r ml_20">
			<option value="" selected="selected">是否上传</option>
			<option value="1" <?php echo $findObj['is_shangc']==1?'selected':''?>>未上传</option>
			<option value="2" <?php echo $findObj['is_shangc']==2?'selected':''?>>已上传</option>
		</select>
		<select id="is_daoru" class="gg_select w100 f_r ml_20">
			<option value="" selected="selected">是否导入</option>
			<option value="1" <?php echo $findObj['is_daoru']==1?'selected':''?>>未导入</option>
			<option value="2" <?php echo $findObj['is_daoru']==2?'selected':''?>>已导入</option>
		</select>
		<div class="sea_text f_r">
			<div class="sobox">
			<div class="sotype">文件名</div>
			<input type="text" id="filename" class="sinput" value="{$findObj['filename']}" />
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="list_th">
		<div class="td" style="width:7%;">
			<label class="left_padding">
				<input type="checkbox" id="chkall" title="全选/反选"/>ID
			</label>
		</div>
		<div class="td" style="width:25%;">文件名/文件路径</div>
		<div class="td" style="width:25%;">描述</div>
		<div class="td" style="width:10%;">文件内容导入/上传</div>
		<div class="td" style="width:15%;">上传会员</div>
		<div class="td" style="width:10%;">操作</div>
		<div class="clear"></div>
	</div>
	<?php if(empty($list)){?>
	<div class="list_empty">没有任何信息！</div>
	<?php }else{?>
	{volist name="list" id="val"}
	<div class="list_tr link_black">
		<div class="td" style="width:7%;">
			<div class="left_padding striking link_blue">
			<input type="checkbox" name="id[]" class="chklie" value="{$val.id}"/>{$val.id}
			</div>
		</div>
		<div class="td" style="width:25%;">&nbsp;{$val.filename}<br/>&nbsp;{$val.filepath}</div>
		<div class="td" style="width:25%;">
			<span>文件内容数量：<font color="red">{$val.filenum}</font></span>
			<span class="ml_10">录入成功：<font color="red">{$val.filenum_suc}</font></span>
			<span class="ml_10">录入失败：<font color="red">{$val.filenum_err}</font></span>
			<span class="ml_10">素材上传数量：<font color="red">{$val.picnum}</font></span><br/>
			<span>{$val.info}</span>
		</div>
		<div class="td" style="width:10%;">
			<span>{$val.is_daoru==2?'<font color="green">已导入</font>':'未导入'}</span><br/>
			<span>{$val.is_shangc==2?'<font color="green">已上传</font>':'未上传'}</span>
		</div>
		<div class="td" style="width:15%;">
			<a href="{:url('/Admin/member/browse','find='.$val['uid'])}">
			{$val.uid} <?php echo isset($memberlist[$val['uid']]['nick_name'])?$memberlist[$val['uid']]['nick_name']:'';?>
			</a>
		</div>
		<div class="td edit" style="width:10%;">
			<a href="{:url('/Admin/material/browse')}">内容素材</a>
		</div>
		<div class="clear"></div>
	</div>
	{/volist}
	<?php }?>
	<div class="pages">
		{$list->render()}
	</div>
</div>

{include file="/common/main_footer"}
