<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>产品展示</title>
{include file="/common/c_header"}
</head>

<body>

<div class="wrap">
{include file="/common/c_top"}

  <div class="s_navc clear">
    <div class="w nav_hover">
      <div class="n_lf left">
        <h3><a href="#">产品分类</a></h3>
        <ul class="sider" style=" display:none;">
          <li class="mainCate">
           <h4><i>&gt;</i><a href="#">翰墨书香</a></h4>
           <div class="subCate"><a href="#">食品包装材料</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b></div>
         </li>
         <li class="mainCate">
           <h4><a href="#">文房雅品</a></h4>
         </li>
         <li class="mainCate">
           <h4><i>&gt;</i><a href="#">生活用品</a></h4>
           <div class="subCate"><a href="#">食品包装材料</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b></div>
         </li>
         <li class="mainCate">
           <h4><i>&gt;</i><a href="#">复仿书籍</a></h4>
           <div class="subCate"><a href="#">食品包装材料</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b></div>
         </li>
         <li class="mainCate">
           <h4><i>&gt;</i><a href="#">纪念邮品</a></h4>
           <div class="subCate"><a href="#">食品包装材料</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b><a href="#">食品包装材料</a><b>|</b><a href="#">粮食检测</a><b>|</b><a href="#">食品</a><b>|</b></div>
         </li>
         <li class="mainCate">
           <h4><a href="#">服装配饰</a></h4>
         </li>
         <li class="mainCate">
           <h4><a href="#">高级礼品</a></h4>
         </li>
         <li class="mainCate">
           <h4><a href="#">纪念邮品</a></h4>
         </li>
         <li class="mainCate">
           <h4><a href="#">服装配饰</a></h4>
         </li>
         <li class="mainCate">
           <h4><a href="#">高级礼品</a></h4>
         </li>
        </ul>
      </div>
      <ul class="s_nav left">
        <li><a href="#.html">最新商品</a></li>
        <li><a href="#.html">特别推荐</a></li>
        <li><a href="#.html">联盟成员馆</a></li>
        <li><a href="#.html">商品批发</a></li>
      </ul>
      <div class="clear0"></div>
    </div>
  </div>
  <div class="banner ny_ban1">
    <div class="hd"><em>1</em><em>2</em><em>3</em><em>4</em><em>5</em></div>
    <div class="bd">
      <ul>
        <li style="background:url({$Think.config.web_home}/images/banner01.jpg) top center no-repeat;"><a href="#"></a></li>
        <li style="background:url({$Think.config.web_home}/images/banner02.jpg) top center no-repeat;"><a href="#"></a></li>
        <li style="background:url({$Think.config.web_home}/images/banner03.jpg) top center no-repeat;"><a href="#"></a></li>
        <li style="background:url({$Think.config.web_home}/images/banner04.jpg) top center no-repeat;"><a href="#"></a></li>
        <li style="background:url({$Think.config.web_home}/images/banner05.jpg) top center no-repeat;"><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <!--<div class="w promote clear">
    <ul>
      <li><a href="#"><img src="{$Think.config.web_home}/images/pic14.jpg" /></a></li>
      <li><a href="#"><img src="{$Think.config.web_home}/images/pic15.jpg" /></a></li>
      <li><a href="#"><img src="{$Think.config.web_home}/images/pic16.jpg" /></a></li>
    </ul>
  </div>-->
  <div class="w pavilion clear">
    <div class="titc">
      <h2>联盟成员馆导航</h2>
      <div class="pavilions coms">
        <ul>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo001.png" /></div><div class="p_txt"><h3>国家图书馆</h3><a href="nlc/index.html">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo002.png" /></div><div class="p_txt"><h3>首都图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo003.png" /></div><div class="p_txt"><h3>河北省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo004.png" /></div><div class="p_txt"><h3>山西省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo005.png" /></div><div class="p_txt"><h3>内蒙古图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo006.png" /></div><div class="p_txt"><h3>辽宁省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo007.png" /></div><div class="p_txt"><h3>吉林省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo008.png" /></div><div class="p_txt"><h3>黑龙江省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo009.png" /></div><div class="p_txt"><h3>上海图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo010.png" /></div><div class="p_txt"><h3>南京图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo011.png" /></div><div class="p_txt"><h3>金陵图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo012.png" /></div><div class="p_txt"><h3>浙江图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo013.png" /></div><div class="p_txt"><h3>宁波市图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo014.png" /></div><div class="p_txt"><h3>安徽省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo015.png" /></div><div class="p_txt"><h3>福建省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo016.png" /></div><div class="p_txt"><h3>济南图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo017.png" /></div><div class="p_txt"><h3>河南省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo018.png" /></div><div class="p_txt"><h3>湖北省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo019.png" /></div><div class="p_txt"><h3>武汉图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo020.png" /></div><div class="p_txt"><h3>武汉少儿图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo021.png" /></div><div class="p_txt"><h3>湖南图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo022.png" /></div><div class="p_txt"><h3>湖南少儿图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo023.png" /></div><div class="p_txt"><h3>广东省立中山图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo024.png" /></div><div class="p_txt"><h3>广州少儿图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo025.png" /></div><div class="p_txt"><h3>广西壮族图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo026.png" /></div><div class="p_txt"><h3>广西桂林图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo027.png" /></div><div class="p_txt"><h3>海南图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo028.png" /></div><div class="p_txt"><h3>重庆图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo029.png" /></div><div class="p_txt"><h3>四川省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo030.png" /></div><div class="p_txt"><h3>贵州省图书馆</h3><a href="#">点击进入</a></div></li>
           <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo031.png" /></div><div class="p_txt"><h3>云南省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo032.png" /></div><div class="p_txt"><h3>西藏图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo033.png" /></div><div class="p_txt"><h3>陕西省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo034.png" /></div><div class="p_txt"><h3>甘肃省图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo035.png" /></div><div class="p_txt"><h3>青海图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo036.png" /></div><div class="p_txt"><h3>宁夏图书馆</h3><a href="#">点击进入</a></div></li>
          <li><div class="cspic"><img src="{$Think.config.web_home}/images/logo037.png" /></div><div class="p_txt"><h3>新疆图书馆</h3><a href="#">点击进入</a></div></li>
          <li><em>虚位<br />以待</em></li>
          <li><em>虚位<br />以待</em></li>
          <li><em>虚位<br />以待</em></li>
        </ul>
      </div>
    </div>
  </div>
  
    <div class="w tabc com_slide clear">
    <div class="hd tab_tit"><em>最新商品</em><em>热销商品</em></div>
    <div class="bd shop_pro coms">
      <ul>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro01.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>书法进课堂-翰墨书香文具盒--习字必备</br>翰墨书香</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro02.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>趣味智力文物三阶顺滑魔方</br>文化礼品</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro03.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>一套四张环保合成纸-创意防书衣</br>办公用品</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro04.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>法蓝瓷-梅兰竹菊</br>梅兰竹菊</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro05.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>法蓝瓷-百合</br>文创礼品</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro06.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>法蓝瓷-黄秋葵</br>文创仿瓷</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro07.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>法蓝瓷-芍药</br>文创仿瓷</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro08.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平帆布包</br>庆赏昇平 </h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro09.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平笔筒</br>庆赏昇平</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro10.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>十竹斋笔记本</br>十竹斋</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro11.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>十竹斋便签纸150张套</br>十竹斋</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro12.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平钥匙链</br>庆赏昇平</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro13.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平书签</br>庆赏昇平</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro14.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平创意公交卡</br>庆赏昇平</h3>
            <p><a href="#">查看详情</a>￥100.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro15.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>中国国家博物馆趣味智力文物三阶顺滑魔方儿童学生中老年礼物</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
        <li>
          <div class="pic"><a href="#"><img src="{$Think.config.web_home}/images/pro16.png" width="260" height="260" /></a></div>
          <div class="btn"><a href="#">收藏</a><a class="cart" href="#">购物车</a></div>
          <div class="txts">
            <h3>庆赏昇平情侣T恤衫</br>庆赏昇平</h3>
            <p><a href="#">查看详情</a>￥1000.00</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="pro_class clear">
    <div class="w pro_classc">
      <div class="pro_class_con">
        <div class="pro_class_w all_class left">
          <div class="hd">生活用品<ul></ul></div>
          <div class="bd">
            <ul class="s_pro1">
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro101.png" width="350" height="180" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro102.png" width="169" height="170" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro103.png" width="169" height="170" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro111.png" width="350" height="180" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro112.png" width="170" height="170" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro113.png" width="170" height="170" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro101.png" width="350" height="180" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro112.png" width="169" height="170" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro113.png" width="169" height="170" /></a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="pro_class_w all_class left">
          <div class="hd">复仿书籍<ul></ul></div>
          <div class="bd">
            <ul>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro201.jpg" /></a></div>
                    <h4><a href="#">课外读物书籍</a></h4>
                    <p>写给孩子的传统文化-博悟之旅责任</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro202.jpg" /></a></div>
                    <h4><a href="#">国语纪录片</a></h4>
                    <p>100年国脉 DVD国语纪录片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro203.jpg" /></a></div>
                    <h4><a href="#">国际交流系列丛书</a></h4>
                    <p>罗马与巴洛克艺术书籍展览图书</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro204.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>地中海文明法国卢浮宫博物馆藏精品图书</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro205.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>佛罗伦萨与文艺复兴名家名作</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro206.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>中国古代瓷器艺术图书</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro207.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>文物里的古代中国（全套）图书</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro208.jpg" /></a></div>
                    <h4><a href="#">三山五元围巾</a></h4>
                    <p>国家图书馆馆藏精品大展</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro209.jpg" /></a></div>
                    <h4><a href="#">文艺清新贺卡</a></h4>
                    <p>大观园镭雕创意镂空卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro210.jpg" /></a></div>
                    <h4><a href="#">中国风礼物</a></h4>
                    <p>龙纹斗方纸漆盒镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro211.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>复兴之路国家博物馆课程学习绘本</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro212.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>小莽苍苍斋藏清代学者法书</p>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="pro_class_w all_class left">
          <div class="hd">文房雅品<ul></ul></div>
          <div class="bd">
            <ul class="s_pro1">
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro301.png" width="350" height="250" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro304.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro305.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro312.jpg" width="108" height="100" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro302.png" width="350" height="250" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro306.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro307.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro311.jpg" width="108" height="100" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro303.png" width="350" height="250" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro308.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro309.jpg" width="108" height="100" /></a><a href="#"><img src="{$Think.config.web_home}/images/pro310.jpg" width="108" height="100" /></a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="pro_class_w all_class left">
          <div class="hd">纪念邮品<ul></ul></div>
          <div class="bd">
            <ul>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro401.jpg" /></a></div>
                    <h4><a href="#">彩色贺卡</a></h4>
                    <p>杏林春燕镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro209.jpg" /></a></div>
                    <h4><a href="#">文艺清新贺卡</a></h4>
                    <p>大观园镭雕创意镂空卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro210.jpg" /></a></div>
                    <h4><a href="#">创意镂空贺卡</a></h4>
                    <p>龙纹斗方纸漆盒镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro402.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>文物里的古代中国（全套）图书</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro401.jpg" /></a></div>
                    <h4><a href="#">彩色贺卡</a></h4>
                    <p>杏林春燕镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro209.jpg" /></a></div>
                    <h4><a href="#">文艺清新贺卡</a></h4>
                    <p>大观园镭雕创意镂空卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro210.jpg" /></a></div>
                    <h4><a href="#">创意镂空贺卡</a></h4>
                    <p>龙纹斗方纸漆盒镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro402.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>文物里的古代中国（全套）图书</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro401.jpg" /></a></div>
                    <h4><a href="#">彩色贺卡</a></h4>
                    <p>杏林春燕镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro209.jpg" /></a></div>
                    <h4><a href="#">文艺清新贺卡</a></h4>
                    <p>大观园镭雕创意镂空卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro210.jpg" /></a></div>
                    <h4><a href="#">创意镂空贺卡</a></h4>
                    <p>龙纹斗方纸漆盒镭雕卡片</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro402.jpg" /></a></div>
                    <h4><a href="#">正版书籍</a></h4>
                    <p>文物里的古代中国（全套）图书</p>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="pro_class_w all_class left">
          <div class="hd">服装配饰<ul></ul></div>
          <div class="bd">
            <ul class="s_pro1">
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro501.png" width="350" height="175" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro502.png" width="350" height="175" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro503.png" width="350" height="175" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro504.png" width="350" height="175" /></a></p>
              </li>
              <li>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro505.png" width="350" height="175" /></a></p>
                <p><a href="#"><img src="{$Think.config.web_home}/images/pro506.png" width="350" height="175" /></a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="pro_class_w all_class left">
          <div class="hd">摆件雅玩<ul></ul></div>
          <div class="bd">
            <ul>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro601.jpg" /></a></div>
                    <h4><a href="#">沉香檀香</a></h4>
                    <p>香道大师古法研制天然芳香原料线香</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro602.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版级书画</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro603.jpg" /></a></div>
                    <h4><a href="#">中式摆件</a></h4>
                    <p>玉龙香炉香插系列圆形香道用品</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro604.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版书画溪山雨意图</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro605.jpg" /></a></div>
                    <h4><a href="#">创意家居</a></h4>
                    <p>玉龙香炉香插长方形香道用品</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro606.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>真国宝级书画桃花书屋图</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro607.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>仿真珍藏版书画山水人物图</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro608.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版书画系列山水图</p>
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="s_pro2">
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro602.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版级书画</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro604.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版书画溪山雨意图</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro606.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>真国宝级书画桃花书屋图</p>
                  </dd>
                  <dd>
                    <div class="cspic"><a href="#"><img src="{$Think.config.web_home}/images/pro608.jpg" /></a></div>
                    <h4><a href="#">精品收藏</a></h4>
                    <p>高仿真珍藏版书画系列山水图</p>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear0"></div>
      </div>
    </div>
  </div>

{include file="/common/c_footer"}
</div>
<script type="text/javascript">
jQuery(".sider").slide({ type:"menu",titCell:".mainCate",targetCell:".subCate",delayTime:0,triggerTime:0,defaultPlay:false,returnDefault:true });
jQuery(".nav_hover").slide({ type:"menu",titCell:".n_lf",targetCell:".sider",delayTime:0,triggerTime:0,defaultPlay:false,returnDefault:true });
jQuery(".banner").slide({titCell:".hd em",mainCell:".bd ul",effect:"fold",interTime:6000,autoPlay:true});
jQuery(".com_slide").slide({titCell:".hd em"});
jQuery(".all_class").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,pnLoop:false});
</script>

</body>
</html>
