{include file="/common/main_top"}
<div class="allpagetop">后台管理中心<strong>/</strong>权限管理<strong>/</strong>设置方法</div>
<div class="mains">
	<div class="h1tit">
		<div class="h1">权限管理</div>
		<div class="topnav">
			<a href="{:url('/Admin/syspower/browse')}">权限列表</a>
			<a href="{:url('/Admin/syspower/create')}" class="select">添加</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="toptit">设置方法</div>
	<form id="addform" method="post" action="">
	<div class="form_main width150" id="addcont" style="width:1080px;">
		<div class="new_method" style="width:1080px;overflow:hidden;">
		<div class="fl">模块：{$detail['moduel']}</div>
		<div class="fr">
			<div style="padding-top:12px;">控制器：{$detail['action']}--控制器名称：{$detail['actionName']}</div>
		</div>
		</div>
		<?php if(is_array($method_list)){?>
		<?php foreach($method_list as $item){?>
		<div class="new_method" style="width:1080px;overflow:hidden;">
		<div class="fl">创建方法：</div>
		<div class="fr" style="width:880px;overflow:hidden;">
			<input type="hidden" name="listid[]" size="20" value="{$item['id']}" />
			<span>方法：<input type="text" name="method[]" value="{$item['method']}" maxlength="45" class="input_text_default small" /></span>
			<span>方法名称：<input type="text" name="methodName[]" value="{$item['methodName']}" maxlength="45" class="input_text_default small" /></span>
			<span>是否显示：
				<select name="isShow[]" class="gg_select w100">
					<option value="2" <?php echo $item['isShow']==2?'selected':''?>>否</option>
					<option value="1" <?php echo $item['isShow']==1?'selected':''?>>是</option>
				</select>
			</span>
		</div>
		</div>
		<?php }?>
		<?php }?>
		<div id="add_before">
		<div class="fl"></div>
		<div class="fr">
			<input type="button" class="btn_blue mr_20 w100" value="添加新方法" id="addnewmethod" />
			<input type="submit" class="admin_submit" value="保 存" />
		</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>
</div>
<div id="new_method_hang" style="display:none;">
	<div class="new_method" style="width:1080px;overflow:hidden;">
	<div class="fl">创建方法：</div>
	<div class="fr" style="width:880px;overflow:hidden;">
		<span>方法：<input type="text" name="method[]" value="{$detail['method']}" maxlength="45" class="input_text_default small" /></span>
		<span>方法名称：<input type="text" name="methodName[]" value="{$detail['methodName']}" maxlength="45" class="input_text_default small" /></span>
		<span>是否显示：
			<select name="isShow[]" class="gg_select w100">
				<option value="2">否</option>
				<option value="1">是</option>
			</select>
		</span>
	</div>
</div>
<script>
$(document).ready(function () {
	$('#addnewmethod').click(function(){
		var new_method_hang = '<div class="new_method" style="width:1080px;overflow:hidden;"><div class="fl">创建方法：</div><div class="fr" style="width:880px;overflow:hidden;"><span>方法：<input type="text" name="method[]" value="{$detail['method']}" maxlength="45" class="input_text_default small" /></span>&nbsp;<span>方法名称：<input type="text" name="methodName[]" value="{$detail['methodName']}" maxlength="45" class="input_text_default small" /></span>&nbsp;<span>是否显示：&nbsp;<select name="isShow[]" class="gg_select w100"><option value="2">否</option><option value="1">是</option></select></span></div></div>';
		$("#add_before").before(new_method_hang);
	});
});
</script>

{include file="/common/main_footer"}
