
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{$Think.config.web_home}/css/css.css"/>
<script type="text/javascript" src="{$Think.config.web_home}/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.web_home}/js/jquery.SuperSlide.2.1.1.js"></script>

<style>
.pagetwo{position:relative;height:80px;width:1200px;margin:0 auto;}
.pagetwo ul{position:absolute;right:10%;}
.pagetwo ul li{float:left;margin-left:10px;width:40px;height:38px;overflow:hidden;color:#3d3d3d;
border-radius:2px;-moz-box-shadow:2px 2px 5px rgba(0,0,0,.1); 
-webkit-box-shadow:2px 2px 5px rgba(0,0,0,.1); box-shadow:2px 2px 5px rgba(0,0,0,.1);}
.pagetwo ul li span{display:block;width:40px;height:38px;
text-align:center;font-size:18px;line-height:38px;}
.pagetwo ul li.disabled span{}
.pagetwo ul li.active span{}
.pagetwo ul li a{display:block;padding:0px;width:40px;height:38px;background:#fff;
text-align:center;font-size:18px;line-height:38px;}
.pagetwo ul li a:hover{background:#b6977a;color:#fff;}
</style>
